.edit {
    display: none;
}

.card-title:hover {
    cursor: pointer;
}

.card-title:hover .edit {
    display: inline-block;
    color: royalblue;
}

.bg-cat-title {
    background-color: #f8f9fab8;
}

.bg-cat-title:hover {
    background-color: #ffffff;
}

.btn-delete-cat{
    right: -29px;
    top: -3px;
    z-index: 9;
}