.edit {
    display: none;
}

.card-title:hover {
    cursor: pointer;
}

.card-title:hover .edit {
    display: inline-block;
    color: royalblue;
}

.bg-cat-title {
    background-color: #f8f9fab8;
}

.bg-cat-title:hover {
    background-color: #ffffff;
}

.btn-delete-cat{
    right: 15px;
    top: -3px;
    z-index: 9;
}
.input-group-addon {
    line-height: inherit !important;
    font-size: 1rem !important;
}

.card-link:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.card-selected{
    box-shadow: inset 0 0 20px 0px #888585;
}
@media (min-width: 324px){
    .btn-search{
        margin-left: -3rem!important;
        color: black;
        border:none;
    }
}